{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "target": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-async-to-generator"]
}
